/* Global */
* {margin:0;padding:0}
img {border:none}
body {font:normal 10pt Arial,"Helvetica Neue",Helvetica,sans-serif;color:#000;background:#fff;padding:8px}

p {margin:0 0 1em}

h1, h2, h3, h4, label {font-family:Verdana,Tahoma,Arial,Helvetica,Geneva,sans-serif}

h1 {font-size:135%;color:#007AA3;margin:0 0 0.75em}
h2 {font-size:120%;color:#007AA3;margin:0 0 0.5em}
h3 {font-size:110%;color:#db7800;margin:0 0 0.4em}
h4 {font-size:105%;color:#069}

a:link    {color: #0000CD}
a:active  {color: #0000FF}
a:visited {color: Navy}
a:hover   {color: #483D8B}

.fl {float:left}
.fr {float:right}
.hide{display:none}
.inlb{display:inline-block}

.clr {clear:both}
.b  {font-weight:bold}
.c {text-align:center}
.r {text-align:right}
.l {text-align:left}
.L  {font-size:1.2em}
.s  {font-size:0.8em}
.mc {margin-left:auto;margin-right:auto}
.m0 {margin:0}
.m10    {margin:1em}
.m05   {margin:0.5em}
.mt0 {margin-top:0}
.mb0 {margin-bottom:0}
.mb1 {margin-bottom:1em}
.mt05{margin-top:.5em}
.mt1{margin-top:1em}
.mb05{margin-bottom:.5em}
.ml0  {margin-left:0}
.ml05 {margin-left:.5em}
.ml1 {margin-left:1em}
.ml2 {margin-left:2em !important}
.pt0 {padding-top:0}
.pb0 {padding-bottom:0}
.pt03{padding-top:.3em}
.pt04{padding-top:.4em}
.pt05{padding-top:.5em}
.pt1 {padding-top:1em}
.p8  {padding:8px}
.grey7{color:#777}
.navy{color:navy}
.w10{width:10px}
.w20{width:20px}
.w50{width:50px}
.w100{width:100px}

ul {margin:0 0 1em 20px;list-style-image:url(BlueDot.gif)}
li {margin:0 0 0.5em}
p + ul {margin-top: -0.5em}
ul li, ul li ul, li p {margin-bottom:0.5em}

.topl {position:absolute;top:8px;left:8px}
.topr {position:absolute;top:8px;right:20px}

/* Buttons */
.topB {margin:0 auto;width:61px;height:12px;padding-top:14px;font-size:8.5pt;font-weight:bold;color:#333;background-image:url(TopBtn.png);background-repeat:no-repeat;background-position:50% 0}
.topB:hover {background-position:50% -30px;color:#f00}
#L {width:24px;height:24px;background:#ffffea url(Busy.gif) no-repeat center}
button{padding:1px 0.5em;background: #f7f7f7;border: 1px solid #7F9DFF;border-radius:6px}
button.on:hover {color:#00f;box-shadow:0 0 0 1px #7FBBFF inset;background:#f0ffff}

/* tables and inputs
table.itran {background:transparent;border:none;margin-bottom:0}
table.itran td {border:none} */
input,textarea,select {font-size:1em;color:#000;background:#fff;border:1px solid #7F9DFF;padding:0 2px 1px 2px;margin-top:2px}
input.radio {position:relative;top:1px;margin-left:.5em}
td > input.radio:first-child {margin-left:0}
select {padding:0}

table {font-size:1em;background:#ffe;border:2px solid #066;border-collapse:collapse;margin-bottom:1em}
table.inner {background:#fafafa;border:1px solid #00c;margin:0}
table.itran {background:transparent;border:none}
td    {padding:2px 3px 3px;border:1px solid #00c}
td p {margin:0}
td.mid {vertical-align:middle}
td.top {vertical-align:top}
td.bot {vertical-align:bottom}
.brdt2 {border-top:2px solid #00c}
table.itran td {border:none}

/* Table alternate row colours */
.bg0 {background:#f0ffff}
.bg1 {background:#ffffea}
.bgw {background:#fff}
.bgg {background:#eee}
.inf {background:#f0f5dd} /* prev: f0f5f0 EAF1DD in C's SS */

.sinf{display:inline-block;background:#f0f5f0;border:1px solid #7F9DFF;padding:0 2px 1px 2px;margin-top:2px}

/* ElementsInfo */
table.ElementsInfo td.Ref span {display:inline-block;width:145px}
/* Edit Tables */
#ETbody td {max-width:850px}
/*#ETbody input,#ETbody textarea {background:#fff} */
